.child{

    background-color: lightgreen !important;
    margin-top: 7rem;
    width: 50%;
    height: 40rem;
    margin-left: 25%;
}
.xy{
    width: 10rem;
}
.arrange {
    width: 35%;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
  }
  .side{
    margin-top: 4rem;
    position: absolute;
    top: -4rem;
    left :50%;
    
  }
  .arranged{
    width: 35%;
    margin-top: 6rem;
    margin-left: 17rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;


  }
  #yourInputField{
    color: black;
  }
  
  